body {
  background: #fafafa;
}
body #error-page {
  min-height: 400px;
  max-width: 650px;
  padding: 0;
  margin: 60px auto;
}
body #error-page >div {
  margin-top: 130px;
  text-align: center;
  border-radius: 3px;
}
body #error-page h1.error-code {
  font-family: Impact;
  font-size: 150px;
  line-height: 180px;
  color: #EA442A;
  font-weight: 100;
}
body #error-page p.error-message {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #999;
  margin-right: 10px;
}
body #error-page a {
  text-decoration: none;
  color: #44c5ef;
}
body #error-page a:hover {
  text-decoration: none;
  color: #62d3f8;
}
.error-content {
  font-size: 24px;
  padding-bottom: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
#error-page p {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  font-weight: bolder;
}
#error-page p a {
  color: #fff;
  background: #EA442A;
  padding: 10px;
  font-size: 30px;
  margin-left: 20px;
  border-radius: 2px;
}
#error-page p a:hover {
  background: #333;
  color: #fff;
}
