.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #96d639;
}
a:hover {
  color: #5f8c1d;
}
body {
  color: #666;
}
body.bg {
  background: #ffffff;
}
.btn.btn-primary,
button {
  background: #96d639;
}
.btn.btn-primary:hover,
button:hover {
  border: 1px solid #96d639;
  color: #96d639;
}
.btn.btn-transparent {
  border: 1px solid #96d639;
}
.btn.btn-transparent:hover:after {
  background: #96d639;
  height: 100%;
}
#sp-header-wrapper {
  background: #fafafa;
}
#sp-header-wrapper .logo {
  background-image: url(../../images/presets/preset3/logo.png);
}
#sp-main-menu ul.level-0 > li:hover >a,
#sp-main-menu ul.level-0 > li.active >a {
  color: #96d639;
}
#sp-main-menu li li:not(.sp-menu-group):hover,
#sp-main-menu li li:not(.sp-menu-group).active {
  background: #96d639;
}
.sp-submenu .sp-submenu-wrap {
  border-top: 2px solid #96d639;
}
#sp-features .features-wrapper .feature-content:hover i {
  background: #96d639;
}
.sprocket-mosaic .sprocket-mosaic-filter li.active,
.sprocket-mosaic .sprocket-mosaic-filter li:hover {
  border: 1px solid #96d639;
  color: #96d639;
}
.sprocket-lists li.active h4.sprocket-lists-title {
  border-left: 4px solid #96d639;
}
.sprocket-tabs ul.sprocket-tabs-nav li.active span.sprocket-tabs-inner {
  border-top: 2px solid #96d639;
}
.nspTopInterface .nspPrev:hover:after,
.nspTopInterface .nspNext:hover:after {
  background: #96d639 !important;
}
.sprocket-strips-arrows .arrow:hover {
  background: #96d639 !important;
}
.partner .sprocket-strips-arrows .arrow {
  color: #666 !important;
}
.partner .sprocket-strips-arrows .arrow:hover {
  background: #96d639 !important;
}
#sp-bottom-wrapper {
  border-top: 4px solid #96d639;
  background: #323A45;
  color: #888;
}
#sp-bottom-wrapper h2 {
  color: #D5D5D5;
}
#sp-bottom-wrapper a {
  color: #888;
}
#sp-bottom-wrapper a:hover {
  color: #96d639;
}
#sp-bottom3 ul li:hover:before {
  color: #96d639;
}
#sp-footer-wrapper {
  background: #3E4653;
  color: #727A87;
}
#sp-footer-wrapper a {
  color: #727A87;
}
#sp-footer-wrapper a:hover {
  color: #96d639;
}
#sp-footer-wrapper .sp-totop i:hover {
  background: #96d639;
}
.sprocket-features-pagination li.active {
  background: #96d639 !important;
}
.progress .bar {
  background: #96d639;
}
.basic-style1 .feature-icon {
  color: #96d639;
}
.ts-pricing ul.plan.featured li.plan-name {
  background: #96d639;
}
.ts-pricing ul.plan.featured li.plan-price {
  color: #96d639;
}
.gallery-filters .btn.active {
  color: #96d639;
  border-bottom: 2px solid #96d639 !important;
}
.menu-home-2 #sp-main-body-wrapper .entry-content a.btn.btn-transparent:hover,
.menu-home-3 #sp-main-body-wrapper .entry-content a.btn.btn-transparent:hover {
  color: #96d639 !important;
}
#sp-features .basic-style2 {
  text-align: center;
}
#sp-features .basic-style2 .features-wrapper i {
  color: #96d639;
}
#sp-features .basic-style2 .features-wrapper .feature-content {
  color: #666;
}
#sp-features .basic-style2 .features-wrapper .feature-content h3 {
  color: #96d639;
}
#sp-features .basic-style2 .features-wrapper .span4:hover i,
#sp-features .basic-style2 .features-wrapper .span3:hover i {
  background: #96d639;
}
#sp-features .basic-style3 .features-wrapper {
  color: #666;
}
#sp-features .basic-style3 .features-wrapper .feature-icon i {
  background: #96d639;
}
#sp-features .basic-style3 .features-wrapper .feature-content h3 {
  color: #666;
}
.testimonial-basic .nspTopInterface .nspPrev:after,
.testimonial-basic .nspTopInterface .nspNext:after {
  color: #666;
}
#sp-features .basic-style4 .features-wrapper {
  color: #666;
}
#sp-features .basic-style4 .features-wrapper .feature-icon i {
  background: #96d639;
}
#sp-features .basic-style4 .features-wrapper .feature-content h3 {
  color: #666;
}
.feature-tab .tab ul.nav li a {
  color: #666;
}
.feature-tab .tab ul.nav li a:hover {
  border: 1px solid #96d639;
}
.feature-tab .tab ul.nav li.active a {
  background: #96d639;
  border: 1px solid #96d639;
}
.feature-tab .tab ul.nav li.active a:before {
  border-right-color: #96d639;
}
.main-tab ul.sprocket-tabs-nav li.active span.sprocket-tabs-inner {
  background: #96d639;
}
div.k2TagCloudBlock a {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
div.k2TagCloudBlock a:hover {
  background: #96d639;
  border: 1px solid transparent;
  color: #fff;
}
div.k2CategoriesListBlock ul li {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
div.k2CategoriesListBlock ul li:hover {
  color: #96d639;
  padding-left: 10px;
}
div.k2CategoriesListBlock ul li a {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
div.k2CategoriesListBlock ul li a:hover {
  color: #96d639;
}
